//mobile view
@media screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(black, 0.75);
    list-style-type: none;
    font-size: 18px;
    justify-content: space-between;
    padding-bottom: 10px;

    .active {
      display: block;
    }

    .navbar-toggle {
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
    }

    .logo {
      img {
        height: 25px;
        width: 25px;
      }
      display: inline-block;
      text-decoration: none;
      margin-top: 15px;
      margin-left: 20px;
      color: white;
    }

    .main-nav {
      list-style-type: none;

      li {
        text-align: center;
        margin: 5px, auto;

        .nav-links {
          display: block;
          color: white;
          text-decoration: none;
        }
      }

      .logo,
      li:hover {
        background-color: rgba(white, 0.75);

        .nav-links {
          color: black;
        }
      }
    }
  }
}

//desktop view
@media screen and (min-width: 768px) {
  .navbar {
    background-color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

    .navbar-toggle {
      display: none;
    }

    .logo {
      img {
        height: 35px;
        width: 35px;
      }
      color: white;
      display: inline-block;
      font-size: 22px;
      margin-left: 30px;
      text-decoration: none;
    }

    .main-nav {
      list-style-type: none;
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;

      li {
        text-align: center;
        margin: 15px auto;

        .nav-links {
          color: white;
          text-decoration: none;
          margin-left: 40px;
        }

        .nav-links:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
